<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.microple.jademall">

    <uses-permission android:name="com.microple.jademall.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.microple.jademall.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <receiver
            android:name=".common.JReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.microple.jademall" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- QQ分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1107787297" />
            </intent-filter>
        </activity>
        //微博分享
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 腾讯云IM消息收发 service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="true"
            android:process=":QALSERVICE" />
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />

        <!-- 【必须】 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <!-- ImSDK 3.0.2 后添加 -->
            <intent-filter>
                <action android:name="com.tencent.qalsdk.service.TASK_REMOVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <!-- ***********************************直播模块*********************************** -->
        <activity
            android:name=".ui.live.activity.LiveDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- ***********************************搜索模块*********************************** -->
        <activity
            android:name=".ui.search.activity.SearchSortGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.search.activity.SearchResultGoodsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.Personal.activity.AllOrderActivity" />
        <activity android:name=".ui.Personal.activity.OrderDetailActivity" />
        <activity android:name=".ui.Personal.activity.SureCustomerActivity" />
        <activity android:name=".ui.Personal.activity.CustomerOrderActivity" />
        <activity android:name=".ui.Personal.activity.MyCollectionActivity" />
        <activity android:name=".ui.Personal.activity.MyAppointmentActivity" />
        <activity android:name=".ui.Personal.activity.MyAssetActivity" />
        <activity android:name=".ui.Personal.activity.BillQueryActivity" />
        <activity android:name=".ui.Personal.activity.IntergrationDetailActivity" />
        <activity android:name=".ui.Personal.activity.IntergrationPushActivity" />
        <activity android:name=".ui.Personal.activity.EmeraldsActivity" />
        <activity android:name=".ui.Personal.activity.EmeraldsDetailActivity" />
        <activity android:name=".ui.Personal.activity.IntergrationGetActivity" />
        <activity android:name=".ui.Personal.activity.ShareActivity" />
        <activity android:name=".ui.Personal.activity.MyTeamActivity" />
        <activity android:name=".ui.Personal.activity.TeamTwoActivity" />
        <activity android:name=".ui.Personal.activity.MerchantEntryActivity" />
        <activity android:name=".ui.Personal.activity.ApplicationActivity" />
        <activity android:name=".ui.Personal.activity.CusetomerOrderDetailActivity" />
        <activity android:name=".ui.Personal.activity.ApplyCustomerActivity" />
        <activity android:name=".ui.Personal.activity.MerchantEntryRecordActivity" />
        <activity android:name=".ui.Personal.activity.MerchantEntryRecordDetailActivity" />
        <activity android:name=".ui.Personal.activity.PickGoodsActivity" />
        <activity android:name=".ui.Personal.activity.AskQuestionTypeActivity" />
        <activity android:name=".ui.home.activity.GoodsDetailActivity" />
        <activity android:name=".ui.home.activity.PaySucceefulActivity" />
        <activity android:name=".ui.Personal.activity.AskQuestionActivity" />
        <activity android:name=".ui.Personal.activity.AskQuestionDetailActivity" />
        <activity android:name=".ui.Personal.activity.FeedBackActivity" />
        <activity android:name=".ui.Personal.activity.AboutMeActivity" />
        <activity android:name=".ui.Personal.activity.CustomerServiceAcitivity" />
        <activity android:name=".ui.Personal.activity.MessageActivity" />
        <activity android:name=".ui.Personal.activity.MessageDetailActivity" />
        <activity android:name=".ui.Personal.activity.PersonalSettingActivity" />
        <activity android:name=".ui.home.activity.ImageDetailActivity" />
        <activity android:name=".ui.Personal.activity.NickNameActivity" />
        <activity android:name=".ui.Personal.activity.AddressActivity" />
        <activity android:name=".ui.Personal.activity.EditAddressActivity" />
        <activity android:name=".ui.Personal.activity.SafeSettingActivity" />
        <activity android:name=".ui.Personal.activity.PassswordActivity" />
        <activity android:name=".ui.home.activity.ImOrderActivity" />
        <activity android:name=".ui.Personal.activity.LoginActivity" />
        <activity android:name=".ui.Personal.activity.ForgetPWActivity" />
        <activity android:name=".ui.Personal.activity.RegisterActivity" />
        <activity android:name=".ui.Personal.activity.BindPhoneActivity" />
        <activity android:name=".ui.Personal.activity.NeedNoteActivity" />
        <activity android:name=".ui.live.activity.LivePlayerActivity" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".ui.live.activity.LiveGoodsActivity" />
        <activity android:name=".ui.home.activity.WebViewActivity" />
        <activity android:name=".ui.Personal.activity.IgRecordActivity" />
        <activity android:name=".ui.Personal.activity.MyAttentionActivity" />
        <activity android:name=".ui.home.activity.DaifuActivity" />
        <activity android:name=".ui.Personal.activity.OtherPayActivity" />
        <activity android:name=".ui.Personal.activity.MyAttentionDetailActivity"></activity>
    </application>

</manifest>